.example {
  width: 80%;
  margin-top: 8px;
  max-width: 600px;
  border-radius: 6px;

  &-content {
    padding: 1rem;
  }
}

.github-logo {
  margin-right: 1rem;
}

.terminal > * {
  padding: 0 1rem 1rem;
  color: white;
}
